@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --red: #E50914;



    --one: #583d26;
    --two: #9d6834;
    --black: #010100;
    --three: #2e2b26;
    --gray: #b4b6b3;

    --base1: #2e2b26;
    --base2: #b4b6b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-image: linear-gradient(var(--red) , var(--black));
    overflow: hidden; /* Prevent scrollbars */
    /* background-color: var(--white); */
}

.login-cart, .register-cart, .forget-cart {

    width: 400px;
    height: 500px;

    /* border: 2px solid var(--black); /* Border color*/  
    border-radius: 25px;
    padding: 20px;

    /* background-color: var(--black); /* Background color of the square   */
    position: absolute;     /* Allows it to be positioned relative to the parent*/  
    overflow: auto;         /* Allow overflow for resizing  */

    /* Centering the square (uncomment to use)*/ 
    top: 50%;                /* Position square's top edge at 50% of the parent height*/ 
    left: 50%;               /* Position square's left edge at 50% of the parent width*/ 
    transform: translate(-50%, -50%); /* Offset the square by half its width and height to center it*/ 
    
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4), 0 24px 80px 0 rgba(0, 0, 0, 0.38);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    flex-direction: column; /* Arrange items vertically */
    color: var(--white);
}

.forget-cart {
    width: 400px;
    height: 300px;
}


#forget-form {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    gap: 50px; 
    overflow: hidden;

}

#register-form {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    gap: 50px; 
    overflow: hidden;

}

#login-form {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  gap: 10px;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: var(--white);
}
    
.form {
    margin-top: 1.5rem;
}

.input-group {

    display: flex;
    flex-direction: column;
    gap: 7px;

    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.input-group label { 
   display: block; 
   color: rgba(156, 163, 175, 1); 
   margin-bottom: 4px; 
 } 

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}
















.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175,1);
  margin: 8px 0 14px 0;
}

.forgot a,.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.login, .register{
  display: block;
  width: 100%;

  background-color: var(--black);
  padding: 0.75rem;
  text-align: center;
  color:  var(--white);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.login:hover, .register:hover {
    transform: scale(1.02);
    background-color: var(--blue);
}


.intra {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.intra .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}



/* *, */
/* :before, */
/* :after { */
/*     box-sizing: border-box; */
/* } */
/**/
/* body { */
/*     background-color: #fdf9fd; */
/*     color: #011a32; */
/*     font: 16px/1.25 'Raleway', sans-serif; */
/*     text-align: center; */
/* } */
/**/
/* #wrapper { */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*     max-width: 80em; */
/* } */
/**/
/* #container { */
/*     display: flex; */
/*     flex-direction: column; */
/*     float: left; */
/*     justify-content: center; */
/*     min-height: 100vh; */
/*     padding: 1em; */
/*     width: 100%; */
/* } */
/**/
/* h1 { */
/*     animation: text-shadow 1.5s ease-in-out infinite; */
/*     font-size: 5em; */
/*     font-weight: 900; */
/*     line-height: 1; */
/*     color: var(--white); */
/* } */
/**/
/* h1:hover { */
/*     animation-play-state: paused; */
/* } */
/**/
/* a { */
/*     color: #024794; */
/* } */
/**/
/* a:hover { */
/*     text-decoration: none; */
/* } */
/**/
/* @keyframes text-shadow { */
/*     0% {   */
/*         transform: translateY(0); */
/*         text-shadow:  */
/*             0 0 0 #0c2ffb,  */
/*             0 0 0 #2cfcfd,  */
/*             0 0 0 #fb203b,  */
/*             0 0 0 #fefc4b; */
/*     } */
/**/
/*     20% {   */
/*         transform: translateY(-1em); */
/*         text-shadow:  */
/*             0 0.125em 0 #0c2ffb,  */
/*             0 0.25em 0 #2cfcfd,  */
/*             0 -0.125em 0 #fb203b,  */
/*             0 -0.25em 0 #fefc4b; */
/*     } */
/**/
/*     40% {   */
/*         transform: translateY(0.5em); */
/*         text-shadow:  */
/*             0 -0.0625em 0 #0c2ffb,  */
/*             0 -0.125em 0 #2cfcfd,  */
/*             0 0.0625em 0 #fb203b,  */
/*             0 0.125em 0 #fefc4b; */
/*     } */
/**/
/*    60% { */
/*         transform: translateY(-0.25em); */
/*         text-shadow:  */
/*             0 0.03125em 0 #0c2ffb,  */
/*             0 0.0625em 0 #2cfcfd,  */
/*             0 -0.03125em 0 #fb203b,  */
/*             0 -0.0625em 0 #fefc4b; */
/*     } */
/**/
/*     80% {   */
/*         transform: translateY(0); */
/*         text-shadow:  */
/*             0 0 0 #0c2ffb,  */
/*             0 0 0 #2cfcfd,  */
/*             0 0 0 #fb203b,  */
/*             0 0 0 #fefc4b; */
/*     } */
/* } */
/**/
/* @media (prefers-reduced-motion: reduce) { */
/*     * { */
/*       animation: none !important; */
/*       transition: none !important; */
/*     } */
/* } */

