
body {
  font-family: Arial;
  /*background-color:  #010100;*/
}

/*.small {*/
/**/
/*    height: 60%;*/
/*    width: 80%;*/
/*    position: fixed;*/
/*    background-color: #111;*/
/**/
/*}*/

.split {
  height: 100%;
  width: 50%;
  position: fixed;
}

.left {
  left: 0;
  background-color: #010100;
}

.right {
  right: 0;
  background-color: #E50914; 
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



.btn {
    background-color:  #010100;/* Green background */
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  /*   padding: 16px 32px;*/
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*display: inline-block;*/
  /*font-size: 16px;*/
  /*margin: 4px 2px;*/
  /*transition-duration: 0.4s;*/

    border: 2px solid #555555;
}

.btn-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10 10px; /* Add some padding for better spacing */
    width: 100%; /* Ensure the button takes full width */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.btn:hover {
  background-color: #555555;
  color: white;
}

/*.btn-3 img {*/
/*    margin-left: 10px; /* Add some space between the text and the image */*/
/*}*/

